.container-fluid {

    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    
}

#button-create{
    
    background: rgba(155, 155, 255, 0.35);
    background-image: url('../img/create.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    border-radius:50px;
    bottom:40px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.35);
    height: 75px;
    position: fixed;
    right:40px;
    transition: all 0.5s;
    width: 75px;

    &:hover{

        background: rgba(155, 155, 255, 1);
        background-image: url('../img/create_hover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%;
        bottom:37.5px;
        height: 80px;
        right:37.5px;
        transition: all 0.5s;
        width: 80px;

    }
    
}


.feedContainer{ 

    margin: 20px auto;
    max-width: 1200px;
   
    &::after { 

        content: "";
        clear: both;
        display: block; 

     }

    .feedContainer__box{

            border-radius: 5px;
            box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.35);
            display: flex;
            flex-direction: column;
            float: left;
            margin: 1.5%;
            width: 30%;            
    
        .feedContainer__box__img {

            background-size: cover!important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 217px;
            width: 100%;

        }
        .feedContainer__box__body {

            background: #fbfbfb;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            min-height: 400px;
            padding: 13px 20px;

            .feedContainer__box__body__title{
                h3{

                    font-size: 1.2em; 

                }
            }
        }
        .feedContainer__box__body__info {

            margin-top: auto;

            button{

                box-shadow: inset 0 0 0 #FCFCFC;
                border: none;
                border-radius: 5px;
                height: 50px;
                margin-top: 25px;
                transition: all 0.5s;
                width:100%;

                &:hover{
                    
                    box-shadow: inset 0 0 100px rgb(207, 207, 207);
                    transition: all 0.5s;

                }

            }
        }

    }

}

@media only screen and (max-width: 992px) {

    .feedContainer{

        width: 100%;

        .feedContainer__box{

            width: 47%;

            .feedContainer__box__img {

                background-position: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 300px;
    
            }
            .feedContainer__box__body {

                background: #fbfbfb;
                min-height: 500px;
                padding: 13px 20px;
    
                .feedContainer__box__body__title{
                    h3{
    
                        font-size: 2em; 
    
                    }
                }
            }
            .feedContainer__box__body__info {
    
                margin-top: auto;
    
                button{
    
                    width:100%;
    
                }
            }

        }

    }

} 

@media only screen and (max-width: 600px) {
    .feedContainer{

        width: 100%;

        .feedContainer__box{

            width: 97%;

            .feedContainer__box__img {

                background-position: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 500px;
    
            }
            .feedContainer__box__body {

                background: #fbfbfb;
                min-height: auto;
                padding: 13px 20px;
    
                .feedContainer__box__body__title{
                    h3{
    
                        font-size: 2em; 
    
                    }
                }
            }
            .feedContainer__box__body__info {
    
                margin-top: auto;
    
                button{
    
                    width:100%;
    
                }
            }

        }

    }
}